/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  font-family: Avenir, Lato, BlinkMacSystemFont, sans-serif;
}

.container {
  margin: auto;
  width: 50%;
  padding: 16px;
}

#cities-container {
  display: flex;
  flex-direction: column;
}

.card {
  box-shadow: 4px 4px 20px rgba(0,0,0,0.2);
	margin: 16px;
  border-radius: 4px;
  padding: 16px;
}

.form {
  margin: 16px;
}

.btn {
  padding: 5px 5px 5px 5px;
  border: 1px solid #666;
  color: black;
  background-color: white;
  transition: all 200ms;
  border-radius: 4px;
}

.btn:hover {
  color: white;
  background-color: #0078e8;
}
  